<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link lang="en">
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
    <h1>Hello</h1>
    <h2>World</h2>
</div>
</body>
</html>